@mixin pic ($image) {
  background: url($image) no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;

  @media (max-width: 900px) and (min-width: 640px) {
    background-size: 65% 65%;  
    margin: -15px 0 0px 20px;      
  }
}


.advantages-card {
  max-width: 490;
  height: 145;
  display: flex;
  align-items: center;

  @media (max-width: 900px) and (min-width: 640px) {
    max-width: 270px;
    display: block;
  }
  

  &__img1 {
    @include pic("./img/1ad.png");     
  }

  &__img2 {
    @include pic("./img/2ad.png");     
  }

  &__img3 {
    @include pic("./img/3ad.png");     
  }

  &__img4 {
    @include pic("./img/4ad.png");     
  }

  &__content {
    margin-left: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    max-width: 450px;
    height: 145px;

    @media (max-width: 900px) and (min-width: 640px) {
      margin: 0;
      max-width: 270px;
    }
  }

  &__title {
    @include title-font (18, 21);
    margin-top: 30px;
    margin-left: 60px;
    letter-spacing: 0px;

    @media (max-width: 900px) and (min-width: 640px) {
      @include title-font (14, 17);
      margin: 0;
      padding: 35px 20px 0 20px;
    }
  }

  &__text {
    max-width: 310px;
    margin: 10px 30px 0 60px;    
    font-size: 16px;
    line-height: 24px;    

    @media (max-width: 900px) and (min-width: 640px) {
      font-size: 14px;
      line-height: 21px;
      margin: 5px 0 0 0;
      padding: 0 20px;
    }
  }
}
