
body {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

#bebas-font {
  font-family: 'Bebas Neue', arial;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

$text-size48: 48px;

$text-size36: 36px;

@mixin bold($size) {
  font-size: $size;
  font-weight: bold;
}

@mixin button ($width, $pad, $bgc, $align) {
  width: $width;
  padding: $pad;
  background-color: $bgc;
  text-align: $align;
}