// //Open Sans Condensed
// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic');
// // Bebas Neue
// @import url('http://allfont.ru/allfont.css?fonts=bebas-neue');

body {
  font-size: 20px !important;
  line-height: 27px !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

#bebas-font {
  font-family: 'Bebas Neue', arial !important;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  
  @media (max-width: 769px) and (min-width: 321px) {
    padding: 0 34px;
  }
}

.ex-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  
  @media (max-width: 769px) and (min-width: 640px) {
    padding: 0 34px;
  }

  @media (max-width: 639px)  {
    padding: 0 20px;
    margin: 0 auto;
  }
}


.row {
  display: flex;
  margin: 0 -10px;
}

$text-size48: 48px;

$text-size36: 36px;

@mixin bold($size) {
  font-size: $size;
  font-weight: bold;
}

@mixin button ($width, $pad, $bgc, $align) {
  width: $width;
  padding: $pad;
  background-color: $bgc;
  text-align: $align;
}

#hide1 { display: block;
  @media (max-width: 768px) {
    display: none;
  }
}

#hide2 {display: block;
  @media (max-width: 541px) {
    display: none;
  }
}

@mixin exam-button1 () {
  background: #FFCE51;
  border-radius: 10px;
  width: 210px;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-align: center;
  
  &:hover {
    color: black;
    text-decoration: none;
  }

  @media (max-width: 639px)  {
    width: 100%;
  }
}

@mixin exam-button2 () {
  background: #056CDE;
  border-radius: 10px;
  width: 310px;
  height: 50px;
  font-size: 16px;  
  line-height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
  
  @media (max-width: 769px) and (min-width: 640px) {
    width: 240px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
  }
  
  @media (max-width: 639px)  {
    width: 100%;
  }

  &:hover {
    color: white;
    text-decoration: none;
  }
}

@mixin title-font ($font-size, $line-height) {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: $font-size+px;
  line-height: $line-height+px;
  letter-spacing: 1px;
  margin-top: 30px;
  
  @media (max-width: 769px) and (min-width: 640px) {
    margin-top: 20px;
  }
  
  @media (max-width: 639px) {
    margin-top: 15px;
  }
}

@mixin contact-items ($position) {
  background: url(./img/2sprite.svg);
  width: 30px;
  height: 30px;
  background-position: $position;
}

