// //Open Sans Condensed
// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic');
// // Bebas Neue
// @import url('http://allfont.ru/allfont.css?fonts=bebas-neue');

body {
  font-size: 20px !important;
  line-height: 27px !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

#bebas-font {
  font-family: 'Bebas Neue', arial !important;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  margin: 0 -10px;
}

$text-size48: 48px;

$text-size36: 36px;

@mixin bold($size) {
  font-size: $size;
  font-weight: bold;
}

@mixin button ($width, $pad, $bgc, $align) {
  width: $width;
  padding: $pad;
  background-color: $bgc;
  text-align: $align;
}