.footer {
  color: white;
  background: #45B7E3;

  &__content {
    text-align: right;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

