.footer {
  background: #FFFFFF;
  font-size: 16px;

  &__content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
  }

  &__link {
    line-height: 22px;
    margin-right: 12px;
    color:black;
  }
  
  &__link:hover {
    color: black;
    text-decoration: none;
  }
}
