.header {
  background: #FFFFFF;

  &__logo {
    transition: transform 200ms;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  &__navlink {
    display: none;
    @media (max-width: 580px) {
      display: block;
    }
  }

  &__brand:hover {
    transform: scale(1.4);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
  }
 
  &__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-left: 12px;
    color: black;

    @media (max-width: 580px) {
      display: none;
    }

  }
  
  &__link:hover {
    color: black;
    text-decoration: none;
  }
}


