.preview {
  max-width: 380px;
  // min-height: 486px;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.07);

  @media (max-width: 768px) and (min-width: 581px) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: 580px) {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
  }

  &__container {
    max-width: 380px;
    padding: 0 19px 0 21px;

    @media (max-width: 768px) and (min-width: 581px) {
      padding: 0 17px 0 19px;
    }
    
    @media (max-width: 580px) {
      padding: 0 20px 0 20px;
    }
  }

  &__pic {
    max-width: 380px;
    height: 185px;
    background: url(./img/картинка.png) no-repeat center / cover;
  }

  &__title {
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    }

  &__text {
    margin-top:10;
  }

  &__footer {
    margin-top: 47px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  &__link-button {
    @include button(224px, 0, #FFE01B, center);
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    color: black;
    text-transform: uppercase;
  }

  &__link-button:hover {
    color:black;
    text-decoration: none;
  }

  &__button {
    @media (max-width: 320px) {
      width: 154px;
    }
  }

  &__date {
    margin-left: 22px;
    
    @media (max-width: 768px) and (min-width: 320px) {
      margin-left: 14px;
    }
    
    @media (max-width: 320px) {
      margin-left: 18px;
    }
  }
}



