.service-card {
    max-width: 450px;
    height: 470px;
    background-color: #fff;

    &__container {
      max-width: 340px;
      margin-left: 40px;
    }
    
    &__title {
      @include title-font (24, 28);
      margin-top: 30px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-top: 10px;
      letter-spacing: 0.3px;
    }

    &__links {
      margin: 20px -10px 0 -10px;
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &__link {
      margin: 0 10px 10px 10px;
    }
  }

  .1 {
    display: none;
  }