.blog {
  background: #F2F2F2;
  padding-bottom: 54px;
  
  &__title {
    @include bold(55px)
    line-height: 75px;
    margin-bottom: 70px;
    padding-top: 49px;
    text-transform: uppercase;
  }

  &__previews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__preview {
    margin-bottom: 30px;
  }

  &__news-button {
    @include button(228px, 0, #FFE01B, center); 
    margin: 30px auto 0 auto;
    font-size: 24px;
    line-height: 44px;
    height: 44px;
    text-transform: uppercase;
  }
}