
.info-block {
  background: linear-gradient( to top,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/Rectangle.png) no-repeat center / cover;

  &__title {
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    text-transform: uppercase;
    
    @media (max-width: 769px) and (min-width: 321px) {
      @include bold(45px);
      line-height: 61px;
      padding-top: 29px;
    }
    
    @media (max-width: 320px) {
      font-size: 30px;
      line-height: 41px;
      padding-top: 28px;
    }
  }

  &__my-info {
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin-top: 40px;
    padding-bottom: 70px;
    
    @media (max-width: 769px) and (min-width: 542px) {
      margin-top: 30px;
      padding-bottom: 50px;
    }

    @media (max-width: 541px) {
      margin-top: 20px;
      display: block;
      padding-bottom: 40px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
    
    @media (max-width: 541px) {
      margin-left: 0px;
      display: block;
    }
  }

  &__pic {
    background: url(./img/фото.png) no-repeat center / cover;
    max-width: 280px;
    height: 265px;
    @media (max-width: 541px) {
      margin: 0 auto;
    }
    
  }

  &__text {
    color:white;
    font-weight: 300;
    
    @media (max-width: 769px) and (min-width: 541px) {
      font-size: 18px;
      line-height: 25px;
    }
    
    @media (max-width: 540px) {
      font-size: 16px;
      line-height: 22px;
      margin-top: 25px;
    }
  }

  &__button {
    font-size: 24px;
    text-transform: uppercase;
    background: #FFE01B;
    width: 127px;
    height: 44px;
    text-align: center;
    line-height: 44px;
  }
}

.my-blog {
  background: #F2F2F2;
  padding-bottom: 55px;
  
  @media (max-width: 769px) and (min-width: 441px) {
    padding-bottom: 40px;
  }
  
  @media (max-width: 420px) {
    padding-bottom: 20px;
  }

  &__title {
    padding-top: 54px;
    @include bold(55px);
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    
    @media (max-width: 769px) and (min-width: 421px) {
      font-size: 30px;
      line-height: 61px;
      padding-top: 29px;
    }
    
    @media (max-width: 420px) {
      font-size: 30px;
      line-height: 41px;
      padding-top: 28px;
    }
  }

  &__previews {
    margin-top: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    
    @media (max-width: 769px) and (min-width: 581px) {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
    @media (max-width: 580px) {
      margin-top: 20px;
      display: block;      
    }
  }
}

.contacts {
  background: #FFE01B;

  &__title {
    text-transform: uppercase;
    text-align: center;
    @include bold(55px);
    line-height: 75px;
    padding-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 769px) and (min-width: 321px) {
      @include bold(45px);
      line-height: 61px;
      padding-top: 29px;
    }
    
    @media (max-width: 320px) {
      font-size: 30px;
      line-height: 41px;
      padding-top: 28px;
      margin-bottom: 20px;
    }
  }

  &__links {
    display:grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 54px;
    
    @media (max-width: 1180px) and (min-width: 321px) {
      padding-bottom: 40px;
      display: grid;
      grid-template-columns: fit-content(280px) fit-content(280px);
    }
    @media (max-width: 600px) {
      padding-bottom: 25px;
      display: grid;
      grid-template-columns: fit-content(280px);
    }
  }

  &__link {
    transition: all 300ms;
    text-align: center;
    width: 280px;
    height: 150px;
    background: #343434;
    transition: transform 500ms;
  }

  &__link:hover .contacts__hidden-text {
    opacity: 1;
  }

  &__link:hover .contacts__logo {
    transform: translateY(-30px);
  }

  &__logo {
    transition: all 500ms;
    position: absolute;
    margin: 2em 4.5em;
    }

    &__vk-logo {
      background-image: url(./img/1spr.png);
      width: 110px;
      height: 110px;
      background-position: (-5 bottom);
    }

    &__insta-logo {
      background-image: url(./img/1spr.png);
      width: 110px;
      height: 110px;
      background-position: (-115 bottom);
    }

    &__phone-logo {
      background-image: url(./img/1spr.png);
      width: 110px;
      height: 110px;
      background-position: (-225 bottom);
    }

    &__mail-logo {
      background-image: url(./img/1spr.png);
      width: 110px;
      height: 110px;
      background-position: (-335 bottom);
    }

  &__hidden-text {
    text-transform: uppercase;
    @include bold(25);
    color: white;
    opacity: 0;
    padding-top: 4em; 
    transition: opacity 600ms;
  } 
}

.phone {
  border-radius:50%;
  position: fixed;
  right: 75px;
  bottom: 75px; 
}


@keyframes spin {
  from { transform: rotate(0),;}
  20% { transform: rotate(0);}
  30% { transform: rotate(10deg);}
  40%  { transform: rotate(-10deg);} 41% { transform:scale(1.04);}
  50% { transform: rotate(10deg);} 51% { transform:scale(1);}
  60%  { transform: rotate(-10deg);} 61% { transform:scale(1.05); }
  100% { transform: rotate(0);}
}

@keyframes pulse {
  from { box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.8); }
  80% { box-shadow: 0 0 0 60px rgba(255, 0, 0, 0.1);}
  100% { box-shadow: 0 0 0 60px rgba(255, 0, 0, 0);}
}

.phone {
  animation: pulse 2s infinite, spin 1s infinite; 
  @media (max-width: 768px) {
    display: none;
  }
}


