<div class="header">
    <div class="container">
      <div class="header__content">
        <div class="header__brand">
          <img src="./img/brand.png">
        </div>     
        <div>
          <a class="header__link header__link_italic" href="./index.html">
            Главная
          <a class="header__link" href="#">
            Мой блог
          </a>
          <a class="header__link" href="./info.html">
            Подробнее обо мне
          </a>
          <a class="header__link" href="#">
            Контакты
          </a>
        </div>
      </div>
    </div>
  </div>
    