<div class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__brand">
        <img src="./img/brand.png">
      </div>     
      <div class="header__links">
        <a class="header__link" href="./index.html">
          Главная
        <a class="header__link" href="#">
          Мой блог
        </a>
        <a class="header__link" href="./blog.html">
          Подробнее обо мне
        </a>
        <a class="header__link" href="#">
          Контакты
        </a>
      </div>
    </div>
  </div>
</div>
    