<div class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__logo">
        <a href="./index.html">
          <img src="./img/brand.png">
        </a>
      </div>     
      <nav class="header__links">
        <div class="header__navlink">
          <img src="./img/11.1.png">
        </div>
        <a class="header__link" href="./index.html">
          Главная
        </a>
        <a class="header__link" href="./blog.html">
          Мой блог
        </a>
        <a class="header__link" href="./my-blog.html">
          Подробнее обо мне
        </a>
      </nav>
    </div>
  </div>
</div>
    