<div class="service-card">
  <img src=@@href>
  <div class="service-card__container">
    <div class="service-card__title">
      @@title
    </div>
    <p class="service-card__text">
      @@text
    </p>
    <div class="service-card__links">
      <a href="#" class="service-card__link @@hide1">@@link1</a>
      <a href="#" class="service-card__link @@hide2">@@link2</a>
      <a href="#" class="service-card__link @@hide3">@@link3</a>
      <a href="#" class="service-card__link @@hide4">@@link4</a>
    </div>
  </div>
</div>